@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 300 20% 98%;
    --foreground: 300 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 300 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 300 10% 3.9%;
    --primary: 325 90% 70%;
    --primary-foreground: 355 100% 100%;
    --secondary: 320 4.8% 95.9%;
    --secondary-foreground: 300 5.9% 10%;
    --muted: 320 4.8% 95.9%;
    --muted-foreground: 300 3.8% 46.1%;
    --accent: 320 70% 95.9%;
    --accent-foreground: 300 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 320 5.9% 90%;
    --input: 320 5.9% 90%;
    --ring: 325 90% 70%;
    --sidebar-background: 300 20% 98%;
    --sidebar-foreground: 300 5.3% 26.1%;
    --sidebar-primary: 325 90% 70%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 320 4.8% 95.9%;
    --sidebar-accent-foreground: 300 5.9% 10%;
    --sidebar-border: 320 13% 91%;
    --sidebar-ring: 325 90% 70%;
  }
  
  .dark {
    --background: 300 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 300 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 300 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 325 90% 70%;
    --primary-foreground: 355 100% 100%;
    --secondary: 300 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 300 3.7% 15.9%;
    --muted-foreground: 300 5% 64.9%;
    --accent: 300 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 3.7% 15.9%;
    --input: 300 3.7% 15.9%;
    --ring: 325 90% 70%;
    --sidebar-background: 300 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 325 90% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 300 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 300 3.7% 15.9%;
    --sidebar-ring: 325 90% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
